 
 ​html​ { 
 ​        ​font-family​:​ monospace; 
 ​} 
 ​body​ { 
 ​        ​color​:​#​FFFFFF​; 
 ​        ​background-color​:​ ​#​48465D​; 
 ​        } 
  
 ​h1​ { 
 ​        ​text-align​:​ center; 
 ​        ​font-size​:​ ​70​px​; 
 ​        ​color​:​ ​#​FF0000​; 
 ​        ​text-decoration​:​ underline; 
 ​} 
  
 ​h2​ { 
 ​        ​text-align​:​ center; 
 ​        ​font-size​:​ ​40​px​; 
 ​} 
  
 ​h3​ { 
 ​        ​font-size​:​ ​30​px​; 
 ​} 
  
 ​h4​ { 
 ​        ​font-size​:​ ​27.5​px​; 
 ​        ​text-decoration​:​ underline; 
 ​} 
 ​p​ { 
 ​        ​font-size​:​25​px​; 
 ​}
